@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Bold.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Fat.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Heavy.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Medium.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Regular.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  outline: 1px solid green;
} */


