@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Bold.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Fat.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Heavy.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Medium.ttf");
}
@font-face {
  font-family: YekanBakh;
  src: url("./fonts/YekanBakh-Regular.ttf");
}

body {
  margin: 0;
  font-family:YekanBakh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  outline: 1px solid green;
} */

*::-webkit-scrollbar
{
  width : 6px ;
  height : 6px;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb
{
  background-color : #afafaf;
  border-radius: 100px;
}
